/* Solo si tienes estilos únicos para acertijos que difieren del resto */

body:not(.dark-mode) #acertijos button.answer-button {
  background-color: #28a745;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

body:not(.dark-mode) #acertijos button.answer-button:hover {
  background-color: #218838;
}

body:not(.dark-mode) #acertijos button.correct {
  background-color: #28a745;
  color: white;
}

body:not(.dark-mode) #acertijos button.incorrect {
  background-color: #dc3545;
  color: white;
}
