#trivia button {
  background-color: #4CAF50;
  margin: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#trivia button:hover {
  background-color: #45a049;
}

#trivia h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Botón siguiente con estilo azul */
#nextQuestionButton {
  background-color: #2196F3;
  color: white;
}

#nextQuestionButton:hover {
  background-color: #1976D2;
}

/* Estilos para botones en trivia cuando son correctos o incorrectos (si quieres diferenciar) */
#trivia button.correct {
  background-color: #4caf50 !important;
  color: white;
}

#trivia button.incorrect {
  background-color: #f44336 !important;
  color: white;
}
